@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
// -----------------------------🖱️Variables
$mainColor: #c63b2d;
$lightMainColor: #e74c3c;
$secondColor: black;
$thirdColor: white;

* {
  margin: 0;
  font-family: montserrat;
}

%centerFlex {
  display: flex;
  justify-content: center;
}
%rowFlex {
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  height: 400px;
  @extend %centerFlex;
  flex-direction: column;

  h2 {
    @extend %centerFlex;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  div.background {
    height: 400px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

main {
  margin: 40px 200px 40px;
}
.search,
.results {
  margin: 40px 0 40px 80px;
}

.results {
  margin-top: 60px;
  p {
    margin-top: 30px;
  }
}

.cards-layout {
  @extend %centerFlex;
  @extend %rowFlex;
  margin: auto;
}

.comic-article {
  width: 200px;
  margin: 30px 0 0 30px;

  img {
    width: 100%;
    height: 320px;
    box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
    transition: 0.2s;
  }
  &:hover {
    transform: translateY(-3%);
  }
}
.comic-title {
  width: 200px;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.explorer {
  @extend %centerFlex;
  flex-direction: column;
  margin: auto;
  margin-top: 4%;
  h2 {
    margin: auto;
  }
  div {
    margin-right: 2%;
  }
}
.search-options {
  @extend %centerFlex;
  @extend %rowFlex;
  font-size: 25px;
}
input,
select {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  font-size: 20px;
  margin-right: 60px;
  font-weight: bold;
}
select {
  width: 100px;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid $secondColor;
}
header {
  background-color: $secondColor;
  @extend %centerFlex;
  h2 {
    color: $thirdColor;
    // font-weight: bold;
    font-family: bangers;
    font-size: 40px;
  }
}
.title-container {
  @extend %centerFlex;
  width: 100%;
  div {
    align-content: center;
    width: 200px;
    height: 100%;
    background-color: $mainColor;
  }
}

button {
  transform: rotate(2deg);
  padding: 0 1%;
  float: right;
  background: #ddd;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
  font-family: bangers;
  font-size: 25px;
}

.page-nav {
  margin-top: 3%;
  @extend %centerFlex;
}

svg:hover {
  transform: scale(1.3);
}
// Footer para corregir con SASS
#link-footer {
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  color: $thirdColor;
  overflow: hidden;
  background: linear-gradient(
    to right,
    $thirdColor,
    $thirdColor,
    50%,
    $mainColor 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  &:hover {
    background-position: 0 100%;
  }
}

.redes {
  font-size: 45px;
}
.firma-personal {
  font-family: bangers;
  font-size: 25px;
  color: $thirdColor;
}
.firma-personal-footer {
  width: 100vw;
  background-color: $secondColor;
  margin-top: 2%;
  &:hover {
    color: $thirdColor;
  }
}

.firma-footer {
  padding-top: 2%;
  text-align: center;
  color: $thirdColor;
}
// fIN DE FOOTER PARA CORREGIR
